/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 

 body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #ffc30f;
}

.svg-container {
  grid-area: roll;

}

#svg {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  transform: translateY(-150px);
  transform: translateX(500px); 
  z-index: 1000;
}

.shadow {
  width: 60px;
  height: 30px;
  background: radial-gradient(ellipse at center, rgba(88,24,69,1) 0%, rgba(237,237,237,0) 50%);
  position: relative;
  z-index: -1;
  transform: translateY(75px);
  opacity: .1;
} */